<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.univ_lyon1.lifemapcom" ios-CFBundleVersion="1.0.0" version="1.2.0">
    <name>Lifemap</name>
    <description>
	Lifemap is a tool to explore the tree of life in an interactive manner, similar to the explotation of geographic maps. The tree displayed is a simplification of the taxonomy provided by the NCBI. The tree contains around 800,000 species. Each node (incl. species) in the tree can be clicked to get information and pictures retrieved from Wikipedia. It is also possible to compute and visualize the "route" between two taxa or clades in the tree. 
    </description>
    <author email="damien.de-vienne@univ-lyon1.fr" href="https://lbbe.univ-lyon1.fr/-de-Vienne-Damien-.html">
        Dr. Damien de Vienne 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <allow-navigation href="http://umr5558-treezoom/*" />
    <allow-navigation href="http://umr5558-ncbitreezoom/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
</widget>
